.signup-logo {
  text-align: center;
  padding: 20px;
}

.signup-form-container {
  background-color: #E2EFDE;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 10px;
}

.signup-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
